MERMAID_DOMAIN=''
MERMAID_DOCS_URL='https://mermaid.js.org'
MERMAID_ANALYTICS_URL=''
MERMAID_RENDERER_URL='https://mermaid.ink'
MERMAID_KROKI_RENDERER_URL='https://kroki.io'
MERMAID_IS_ENABLED_MERMAID_CHART_LINKS='true'
GOOGLE_CLIENT_ID=''
GOOGLE_CLIENT_SECRET=''
ALLOWED_EMAILS='donyahmd24@gmail.com'

# cp .env .env.local to make local changes
